<!DOCTYPE html>
<html>
<head>
    <title>PCBuild - магазин за компютри</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/index.css">
    <link rel="stylesheet" type="text/css" href="/styles/login.css">
</head>
<body>
<div class="jumbotron text-center" style="height: 200px">
  <h1>PCBUILD - Магазин за компютърни конфигурации</h1>
  <p>Изберете най-подходящата конфигурация за вас!</p>
</div>
	<nav>
        <ul>
            <li><a href="#">Начало</a></li>
            <% if session[:logged_in] == true %>
            <li><a href="#">Профил</a></li>
            <% end %>
            <li><a href="/shop">Магазин</a></li>
			<li><a href="#">Контакти</a></li>
			<% if session[:logged_in] == true %>
			<li><a href="/logout">Изход</a></li>
			<% end %>
        </ul>
    </nav>
    <div class="container">
        <%= yield %>
    </div>


      <footer>
    	<acronym title="Магазинът е собственост на Лазар Дилов. Всички права са запазени!">Магазинът е собственост на Лазар Дилов. Всички права са запазени!</acronym> &copy; 2017 (<a href="mailto:eastman1818@yahoo.com" title="За контакт">email</a>)
    </footer>
</body>
</html>
